.saveBtn {
  background: #2b7cff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.form {
  margin: 20px;
}
.formCard {
  background: #ffffff;
  padding: 10%;
  border-radius: 10px;

  display: flex;
  margin-bottom: 15px;
  min-width: 500px;
  width: 100%;
}
.formGroup {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}
.formGroup input {
  margin-left: 20px;
  width: 100%;
  margin-bottom: 5%;
  padding: 2%;
}
.formGroup label {
  margin-left: 17px;
  margin-bottom: 5px;
  color: darkblue;
  font-weight: 500;
}
