article {
  background-color: #2e5090;
  color: white;
  margin-top: 5%;
  height: 100%;
  display: flex;
}
.footer {
  display: flex;
  line-height: 3;
  width: 100%;
}
.header {
  margin: 5%;
}

.links {
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .header {
    margin-right: 19%;
  }
  .links {
    margin-right: 23%;
  }
}
