article {
  background-color: #2e5090;
  color: white;
  margin-top: 5%;
  height: 100%;
  display: flex;
}
.footer {
  display: flex;
  line-height: 3;
  width: 100%;
}
.header {
  margin: 5%;
}

.links {
  list-style-type: none;
  gap: 5px;
  margin-left: 20px;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .links {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .links li {
    margin-left: 0; /* Remove large left spacing on mobile */
  }
}
