.heroSection {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 40px;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    padding: 10px;
    display: flex;
  }
}
