.heroSection {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 40px;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .landingPage {
    flex-direction: column;
    padding: 20px;
    width: 100%;
    display: flex;

    margin-top: 15%;
  }

  .loginForm {
    margin-top: 20px;
  }
}
