body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.loginContainer {
  margin-top: 5%;
  padding: 20px;
  max-width: 46.875rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 80%;
  height: 50%;

  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.loginContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 48px 0 rgba(31, 38, 135, 0.5);
}
.branding {
  flex: 1;
}
.loginContainer h2 {
  margin-bottom: 20px;
}
.auth {
  flex: 1;
  margin-left: 10%;
}
.loginContainer input {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 6px;
  margin-bottom: 10px;
  width: 80%;
}
.loginContainer input:focus {
  border-color: #006241;
}
.signup {
  margin-left: 5%;
}
.header {
  text-align: center;
  margin-right: 90%;
}
.errorMessage {
  color: red;
}
.email,
.password {
  margin-bottom: 10px;
}
.loginBtn {
  margin-bottom: 20px;
  width: 80%;
  background-color: darkblue;
  border: none;
}

.loginBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.loginHeader {
  text-align: center;

  padding-bottom: 5px;
}
.loginForm {
  margin-top: 5%;
  margin-right: 0;
}
.branding img {
  width: 75%;
  height: 50%;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 10%;
}
@media (max-width: 768px) {
  .loginContainer {
    flex-direction: column;
    padding: 20px;
    width: 100%;
    display: flex;

    margin-top: 15%;
  }

  .loginForm {
    margin-top: 20px;
  }
}
