body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.loginContainer {
  padding: 15px;
  background-color: white;
  width: 90%;
  height: 80%;
  display: flex;

  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.branding {
  padding: 20px;
  flex: 1;
  display: flex;
}
.loginContainer h2 {
  margin-bottom: 20px;
}
.auth {
  flex: 1;
}
.loginContainer input {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 6px;
  margin-bottom: 10px;
  width: 80%;
}
.loginContainer input:focus {
  border-color: #006241;
}
.custom-checkbox {
  margin-right: 5px;
}
.header {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 5%;
  margin-right: 90%;
}
.errorMessage {
  color: red;
}
.email,
.password {
  margin-bottom: 10px;
}
.forgotPassword {
  margin-bottom: 15px;
  text-align: center;
}
.loginBtn {
  margin-bottom: 20px;

  width: 80%;
}

.loginBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.forgotPassword {
  text-align: right;
}
.styledLine {
  width: 100%;
  border: none; /* Removes the default border */
  height: 1px; /* Sets the line thickness */
  background-color: #000; /* Sets the line color */
}
.loginHeader {
  text-align: left;

  border-bottom: 2px solid #0d3b66;
  padding-bottom: 10px;
}
.loginForm {
  margin-top: 25%;
}
.branding img {
  width: 80%;
  height: 80%;
}
@media (max-width: 768px) {
  .loginContainer {
    flex-direction: column;
    padding: 20px;
    width: 90%;
    margin-left: 20px;
  }

  .loginForm {
    margin-top: 20px;
  }
}
