.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;

  gap: 100px;
  padding: 20;
  margin: 0;
}

ul li {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  cursor: pointer;
}

ul li span {
  font-weight: 600;
  font-size: 16px;
}
.signupBtn {
  padding: 8px 10px;
  width: 7.5rem;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .header {
    padding: 0px 10px;
    position: relative;
  }

  .navOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    transition: all 0.5s ease;
    gap: 0;
  }

  .active {
    left: 0;

    opacity: 1;
    z-index: 1000;
  }

  .mobileMenu {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }

  .menuIcon {
    width: 45px;
    height: 45px;
  }
}
