.skeletonContainer {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.pie {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #e5e7eb;
  animation: pulse 1.5s infinite;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legendItem span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #e5e7eb;
  animation: pulse 1.5s infinite;
}

.legendItem div {
  width: 80px;
  height: 14px;
  border-radius: 4px;
  background: #e5e7eb;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
