.user_form {
  /* display: grid;
  grid-template-columns: 1.2fr 1.3fr; */
  padding: 20px;

  gap: 20px;
}
.inputs {
  margin-bottom: 6px;
  height: 34px;
}
.input label {
  font-size: 14px;
}
.skeletonImage {
  height: 26.042vw;
  width: 20.833vw;
  background-color: #dcdcdc;
}
.user_details:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 48px 0 rgba(31, 38, 135, 0.5);
}
.image {
  width: 80%;
  border-radius: 8px;
  height: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}
.icons {
  margin: 15%;
  display: flex;
  column-gap: 15%;
  color: darkblue;
  border-radius: 50%;
}
.input {
  flex: 1;
  display: flex;
  width: 80%;
  gap: 10px;
}
.user_details {
  width: 60%;
  display: grid;
  column-gap: 0px;
  grid-template-columns: 0.8fr 1fr;

  padding: 10px;
  margin: 0 auto;

  border-radius: 0.5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);

  margin-top: 5%;
}

.inputs::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.header {
  text-align: center;
  margin-top: 2%;
}
.submitBtn {
  display: block;
  margin: 0 auto;
  width: 80%;
  background-color: darkblue;
  border: none;
}
.link {
  display: flex;
  font-size: 14px;
  margin-bottom: 3%;
  margin-left: 10%;
}
.link a {
  color: blue;
}
.input {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.errorMessage {
  color: red;
}

@media (max-width: 768px) {
  .user_details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 350px;
  }
  .user_form {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: auto;
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .link {
    font-size: 14px;
    margin-right: 4%;
    margin-bottom: 15px;
  }
  .header {
    margin-right: 5%;
  }
  .image {
    margin-left: 4%;
  }
}
