.statsPatient {
  width: 40%;
  background-color: #5f9ea0;
  padding: 20px;
  border-radius: 10px;
  height: 7rem;
  text-align: center;
}
.statsSugery {
  width: 40%;
  background-color: #ffac1c;
  padding: 20px;
  border-radius: 10px;
  height: 7rem;
  text-align: center;
}
.statsCard {
  display: flex;
  gap: 40px;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.statsSugery:hover {
  transform: scale(1.05) translateY(-5px);
}
.statsPatient:hover {
  transform: scale(1.05) translateY(-5px);
}
@media (max-width: 768px) {
  .statsCard {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr;
    height: 100%;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
  .statsSugery_total {
    font-size: 30px;
  }
  .statsPatient,
  .statsSugery {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr;
    height: 80%;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
}
