.statsPatient {
  width: 31.25rem;
  background-color: #5f9ea0;
  padding: 20px;
  border-radius: 10px;
  height: 6.25rem;
  text-align: center;
}
.statsSugery {
  width: 31.25rem;
  background-color: #ffac1c;
  padding: 20px;
  border-radius: 10px;
  height: 6.25rem;
  text-align: center;
}
.statsCard {
  display: flex;
  gap: 40px;
}
