.dashboardContainer {
  padding: 60px;
  width: 100%;
  border-radius: 10px;
  justify-items: center;
}

.customBtn {
  margin-bottom: 2%;
  background-color: #0d3b66;
  width: 25%;
  border: none;
}
.header {
  text-align: left;
  margin-bottom: 3%;
}
.filter {
  display: flex;
  width: 80%;
  gap: 40px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 5%;
}
.filter select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  transition: all 0.2s ease;
  outline: none;
  height: 50%;
}
